{% load static %}
<html>
<body>
{% if employee_info.spell_correction_check  %}
<div class="badge badge-info_spell" style="font-style: oblique; margin-left: 210px ;">Did you mean <b>{{ employee_info.spell_correction_info}}</b>? Showing results of {{ employee_info.spell_correction_info}}...</div>
{% endif %}
{% if employee_info.count_info > 0 %}
<div class="badge badge-info"><b>{{ employee_info.count_info}}</b> employees found..</div>
{% else %}
<div class="badge badge-info">No Results found</div>
{% endif %}
{% for user in employee_info.employee_list %}

<div class="alert alert-info" >

    <div class="row">
         <div class="col-lg-10 col-md-10"><a href="{% url 'getprofiles' %}?id={{user.ibs_empid}}"><b>{{user.emp_name}}</b></a>
         <!--{% if employee_info.user_info.is_superuser %}-->
                <!--<span style="float:right">Digital Quotient: {{user.digital_quotient}}</span>-->
         <!--{% endif %}-->
         </div>
    </div>
   <hr class="separator">
    <div class="row">
        <div class="col-lg-4 col-md-4 " ><i class="fa fa-id-badge fa-2x" aria-hidden="true"> </i> <div style="position:relative;top:-50%;left:15%">{{user.ibs_empid}}</div></div>
         <div class="col-lg-4 col-md-4"><i class="fa fa-bookmark fa-2x" aria-hidden="true"> </i><div style="position:relative;top:-50%;left:15%"> {{user.designation}}</div></div>
         <div class="col-lg-4 col-md-4"><i class="fa fa-phone-square fa-2x" aria-hidden="true"></i> <div style="position:relative;top:-50%;left:15%"> {{user.contact}}</div></div>
    </div>
    <div class="row">
         <div class="col-lg-4 col-md-4 " ><i class="fa fa-tags fa-2x" aria-hidden="true"> </i> <div style="position:relative;top:-50%;left:15%"> {{user.functional_group|title}}</div></div>
         <div class="col-lg-4 col-md-4"><i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i><div style="position:relative;top:-50%;left:18%;width:70%">   {{user.visa|title}}</div></div>
         <div class="col-lg-4 col-md-4"><i class="fa fa-globe fa-2x" aria-hidden="true"></i><div style="position:relative;top:-50%;left:15%"> {{user.visa_location|upper}}</div></div>
    </div>
   <div class="row">
         <div class="col-lg-11">
            <i class="fa fa-list-alt fa-2x" aria-hidden="true"> </i>
             <div style="position:relative;top:-50%;left:5%"> {{user.about|slice:":250"}} ...</div>
         </div>
   </div>
     {% for skill in user.skills.all|slice:":5" %}
	 <div class="badge badge-success">{{skill.technology}}</div>

       {% endfor %}
			{% if user.skills.count|add:-5 < 0 %}

			{% elif user.skills.count|add:-5 == 0 %}

			{% else %}
      {{user.skills.count|add:-5}} more..
			{% endif %}
</div>
{% endfor %}

<!--PAGINATION HERE.....-->

<div class="pagination-container">

{% if employee_info.page_info %}

 {% include 'resumeparser/components/page_segment.html' with page_info=employee_info.page_info %}

{% endif %}

</div>

</body>
</html>