<div class="pagination" id="page-control-box">

<input type="hidden" name="segment_no" value="{{page_info.segment_no}}">
   <input type="hidden" name="segment_size" value="{{page_info.segment_size}}">

{% if page_info.first_page %}
   <input type="hidden" name="page-first" value="{{page_info.first_page}}">
<a class="page-current page-extend page-first" href="#">< first ></a>
{% endif %}

{% if page_info.prev_page %}
<a class="page-prev" name="{{page_info.prev_page}}" href="#">&laquo;</a>
{% endif %}

{% for i in page_info.page_range %}

   {% if i == page_info.page_no %}
   <a class="page-current active" name="{{i}}" href="#">{{i}}</a>
   {% else %}
   <a class="page-current" href="#" name="{{i}}">{{i}}</a>
   {% endif %}

{% endfor %}

{% if page_info.next_page %}
<a class="page-next" href="#" name="{{page_info.next_page}}">&raquo;</a>
{% endif %}

{% if page_info.last_page %}
   <input type="hidden" name="page-last" value="{{page_info.last_page}}">
   <input type="hidden" name="total-count" value="{{page_info.total_count}}">
<a class="page-current page-extend page-last">< last ></a>
{% endif %}

</div>

