  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
		<h1><a href="#main"><span>R</span>esume<br><span>P</span>ortal</a></h1>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>

  <!-- #header -->

