{% extends 'main/dashboard.html' %} {% block body %} {% load static %}

<div class="content">
    <div class="container-fluid">
        {% if user_info.is_superuser %}
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">DQ across Locations</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <div class='tableauPlaceholder' id='viz1560142716501' style='position: relative'>
                                    <noscript>
                                        <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByLocation&#47;1_rss.png' style='border: none' />
                                        </a>
                                    </noscript>
                                    <object class='tableauViz' style='display:none;'>
                                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                        <param name='embed_code_version' value='3' />
                                        <param name='site_root' value='' />
                                        <param name='name' value='Resume_Portal_All&#47;ByLocation' />
                                        <param name='tabs' value='no' />
                                        <param name='toolbar' value='yes' />
                                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByLocation&#47;1.png' />
                                        <param name='animate_transition' value='yes' />
                                        <param name='display_static_image' value='yes' />
                                        <param name='display_spinner' value='yes' />
                                        <param name='display_overlay' value='yes' />
                                        <param name='display_count' value='yes' />
                                    </object>
                                </div>
                                <script type='text/javascript'>
                                    var divElement = document.getElementById('viz1560142716501');
                                    var vizElement = divElement.getElementsByTagName('object')[0];
                                    vizElement.style.width = '100%';
                                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                                    var scriptElement = document.createElement('script');
                                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">DQ across Designations - Testing</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <div class='tableauPlaceholder' id='viz1560417667849' style='position: relative'>
                                    <noscript>
                                        <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByDeisgnation-Testing&#47;1_rss.png' style='border: none' /></a>
                                    </noscript>
                                    <object class='tableauViz' style='display:none;'>
                                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                        <param name='embed_code_version' value='3' />
                                        <param name='site_root' value='' />
                                        <param name='name' value='Resume_Portal_All&#47;ByDeisgnation-Testing' />
                                        <param name='tabs' value='no' />
                                        <param name='toolbar' value='yes' />
                                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByDeisgnation-Testing&#47;1.png' />
                                        <param name='animate_transition' value='yes' />
                                        <param name='display_static_image' value='yes' />
                                        <param name='display_spinner' value='yes' />
                                        <param name='display_overlay' value='yes' />
                                        <param name='display_count' value='yes' />
                                    </object>
                                </div>
                                <script type='text/javascript'>
                                    var divElement = document.getElementById('viz1560417667849');
                                    var vizElement = divElement.getElementsByTagName('object')[0];
                                    vizElement.style.width = '100%';
                                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                                    var scriptElement = document.createElement('script');
                                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Top Topics Across Channel</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <div class='tableauPlaceholder' id='viz1560420086573' style='position: relative'>
                                    <noscript>
                                        <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;9W&#47;9WMDYFWTD&#47;1_rss.png' style='border: none' /></a>
                                    </noscript>
                                    <object class='tableauViz' style='display:none;'>
                                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                        <param name='embed_code_version' value='3' />
                                        <param name='path' value='shared&#47;9WMDYFWTD' />
                                        <param name='toolbar' value='yes' />
                                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;9W&#47;9WMDYFWTD&#47;1.png' />
                                        <param name='animate_transition' value='yes' />
                                        <param name='display_static_image' value='yes' />
                                        <param name='display_spinner' value='yes' />
                                        <param name='display_overlay' value='yes' />
                                        <param name='display_count' value='yes' />
                                    </object>
                                </div>
                                <script type='text/javascript'>
                                    var divElement = document.getElementById('viz1560420086573');
                                    var vizElement = divElement.getElementsByTagName('object')[0];
                                    vizElement.style.width = '100%';
                                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                                    var scriptElement = document.createElement('script');
                                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">DQ across Designation - Development</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <div class='tableauPlaceholder' id='viz1560420049183' style='position: relative'>
                                    <noscript>
                                        <a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByDesignation-Development&#47;1_rss.png' style='border: none' /></a>
                                    </noscript>
                                    <object class='tableauViz' style='display:none;'>
                                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                        <param name='embed_code_version' value='3' />
                                        <param name='site_root' value='' />
                                        <param name='name' value='Resume_Portal_All&#47;ByDesignation-Development' />
                                        <param name='tabs' value='no' />
                                        <param name='toolbar' value='yes' />
                                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_All&#47;ByDesignation-Development&#47;1.png' />
                                        <param name='animate_transition' value='yes' />
                                        <param name='display_static_image' value='yes' />
                                        <param name='display_spinner' value='yes' />
                                        <param name='display_overlay' value='yes' />
                                        <param name='display_count' value='yes' />
                                    </object>
                                </div>
                                <script type='text/javascript'>
                                    var divElement = document.getElementById('viz1560420049183');
                                    var vizElement = divElement.getElementsByTagName('object')[0];
                                    vizElement.style.width = '100%';
                                    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                                    var scriptElement = document.createElement('script');
                                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
         <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">All the Technologies</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                               <div class='tableauPlaceholder' id='viz1567407524038' style='position: relative'>
                               <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_Graphs_2nd_SEP&#47;AllTechnologies&#47;1_rss.png' style='border: none' /></a></noscript>
                               <object class='tableauViz'  style='display:none;'>
                                  <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                  <param name='embed_code_version' value='3' />
                                  <param name='site_root' value='' />
                                  <param name='name' value='Resume_Portal_Graphs_2nd_SEP&#47;AllTechnologies' />
                                  <param name='tabs' value='no' />
                                  <param name='toolbar' value='yes' />
                                  <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_Graphs_2nd_SEP&#47;AllTechnologies&#47;1.png' />
                                  <param name='animate_transition' value='yes' />
                                  <param name='display_static_image' value='yes' />
                                  <param name='display_spinner' value='yes' />
                                  <param name='display_overlay' value='yes' />
                                  <param name='display_count' value='yes' />
                                  <param name='filter' value='publish=yes' />
                               </object>
                            </div>
                            <script type = 'text/javascript' >
                            var divElement = document.getElementById('viz1567407524038');
                            var vizElement = divElement.getElementsByTagName('object')[0];
                            vizElement.style.width = '100%';
                            vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                            var scriptElement = document.createElement('script');
                            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                            vizElement.parentNode.insertBefore(scriptElement, vizElement);
                            </script>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Top 10 Technologies</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <div class='tableauPlaceholder' id='viz1567408030335' style='position: relative'>
                                   <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_Graphs_2nd_SEP_top10&#47;Top10technologies&#47;1_rss.png' style='border: none' /></a></noscript>
                                   <object class='tableauViz'  style='display:none;'>
                                      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                      <param name='embed_code_version' value='3' />
                                      <param name='site_root' value='' />
                                      <param name='name' value='Resume_Portal_Graphs_2nd_SEP_top10&#47;Top10technologies' />
                                      <param name='tabs' value='no' />
                                      <param name='toolbar' value='yes' />
                                      <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;Resume_Portal_Graphs_2nd_SEP_top10&#47;Top10technologies&#47;1.png' />
                                      <param name='animate_transition' value='yes' />
                                      <param name='display_static_image' value='yes' />
                                      <param name='display_spinner' value='yes' />
                                      <param name='display_overlay' value='yes' />
                                      <param name='display_count' value='yes' />
                                      <param name='filter' value='publish=yes' />
                                   </object>
                                </div>
                                <script type = 'text/javascript' >
                                var divElement = document.getElementById('viz1567408030335');
                                var vizElement = divElement.getElementsByTagName('object')[0];
                                vizElement.style.width = '100%';
                                vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                                var scriptElement = document.createElement('script');
                                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                vizElement.parentNode.insertBefore(scriptElement, vizElement);
                                </script>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

</div>

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/kelly.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/continentsLow.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/wordCloud.js"></script>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static '/js/wordcloud.js' %}"></script>
<script src="{% static '/js/map.js' %}"></script>
<script src="{% static '/js/googleCharts.js' %}"></script>
<script src="{% static '/js/sankey.js' %}"></script>
<script src="{% static '/js/heatmap.js' %}"></script>
<script>
    // Themes begin
    am4core.useTheme(am4themes_animated);
    // Themes end
</script>

<!--{% endblock %}-->