<!-- sidebar menu area start -->
   {% load static %}
<!--{% block master_add_js %}-->
<!--<script src="{% static 'resumeparser/js/custom/bot-module.js' %} " type="text/javascript"></script>-->
<!--<script src="{% static 'resumeparser/js/custom/simple-sidebar.js' %}" type="text/javascript"></script>-->

<!--{% endblock %}-->
<!--{% block base_add_css %}-->

<!--&lt;!&ndash;<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/simple-sidebar.css' %}">&ndash;&gt;-->
<!--<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/runbot.css' %}">-->
<!--&lt;!&ndash;<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/ibs_emp_02.css' %}">&ndash;&gt;-->
 <!--{% endblock %}-->

<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
	<!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
	<div class="logo">
		<a href="#" class="simple-text logo-normal">
			<b>Resume Portal</b>
		</a>
	</div>
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item {% if active_menu == 'home' %}active{% endif %}">
				<a class="nav-link" href="{% url 'HomePage' %}">
					<i class="material-icons">dashboard</i>
					<p>Dashboard</p>
				</a>
			</li>
			<li class="nav-item {% if active_menu == 'search' %}active{% endif %}">
				<a class="nav-link" href="{% url 'MyApps' %}">
					<i class="material-icons">search</i>
					<p>Search Employees</p>
				</a>
			</li>
			<li class="nav-item {% if active_menu == 'technology' %}active{% endif %}">
				<a class="nav-link" href="{% url 'Add_Technology_Page' %}">
					<i class="material-icons">note_add</i>
					<p>Add Technology</p>
				</a>
			</li>
			<li class="nav-item {% if active_menu == 'runbot' %}active{% endif %}">
				<a class="nav-link" href="{% url 'runbot' %}">
					<i class="material-icons">play_circle_filled</i>
					<p>Run Bot</p>
				</a>
			</li>
			<li class="nav-item {% if active_menu == 'setting' %}active{% endif %}">
				<a class="nav-link" href="#">
					<i class="material-icons">settings</i>
					<p>Settings</p>
				</a>
			</li>
		</ul>
	</div>
</div>
<!-- sidebar menu area end -->

