{% extends "resumeparser/base_layouts/base.html" %} {% load static %}

{% block master_add_js %}
<script src="{% static 'resumeparser/js/custom/bot-module.js' %} " type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/simple-sidebar.js' %}" type="text/javascript"></script>

{% endblock %}
<!---------------************************--------------->
<!---------------************************--------------->
<!--Copy pates base CSS file reference to the next level inherited template-->
<!---------------************************--------------->
<!---------------************************--------------->

{% block base_add_css %}

<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/simple-sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/runbot.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/ibs_emp_02.css' %}">
 {% endblock %}
{% block base_content %}

<!---------------************************--------------->
<!---------------************************--------------->
<!--Adds HTML body content from next level inherited template-->
<!---------------************************--------------->
<!---------------************************--------------->

<div id="wrapper" class="toggled full-size">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
               	<div class="logo">
                    <a href="#" class="simple-text logo-normal">
                        <b>NLP Engine</b>
                    </a>
                </div>
                <!--<img src="{% static 'resumeparser/images/skillset_logo.jpg' %}" class="side-bar-logo">-->
            </li>

            <li>
                <a href="{% url 'HomePage' %}">Dashboard</a>

            </li>

            <li>
                <!--<a href="{% url 'search-technology' %}" class="sidebar-nav-a-sel">Search Employee</a>-->
                <a href="{% url 'search-technology' %}">Search Employee</a>
            </li>

            <li>
                <!--<a href="{% url 'addtechnology' %}" class="">Add Technology</a>-->
            </li>

            <li>
                <button class="dropdown-btn">Run Bot
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                    <form method="post" action="{% url 'run_check' %}" id="train_form">
                        {% csrf_token %} Enter path:
                        <input type="text" name="path" class="search-input">
                        <button id="train_btn" class="bot-box-link-submit-btn go-left">SUBMIT</button>
                        <!-- <div class="bot-loading-msg">processing ... </div> -->
                        <div class="loader-container" style="visibility: hidden;">
                            <div class="loader"></div>
                        </div>
                    </form>

                    <script>
                        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns
                        without any conflict */
                        var dropdown = document.getElementsByClassName("dropdown-btn");
                        var i;

                        for (i = 0; i < dropdown.length; i++) {
                            dropdown[i].addEventListener("click", function() {
                                this.classList.toggle("active");
                                var dropdownContent = this.nextElementSibling;
                                if (dropdownContent.style.display === "block") {
                                    dropdownContent.style.display = "none";
                                } else {
                                    dropdownContent.style.display = "block";
                                }
                            });
                        }
                    </script>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <button class="dropdown-btn" type="button" data-toggle="dropdown">Run BOT
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                        <li><a href="#">Reading from Resume Folder</a></li>
                        <li><a href="#">Reading from the CSV </a></li>
                        </ul>
                </div>
            </li>
        </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="zero-margin zero-padding" style="height:100%;width:100%;">

            <nav class="navbar navbar-expand-lg navbar-light ishop-nav">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <!-- Image and text -->
                    <!-- Just an image -->
                    <nav class="navbar navbar-light zero-padding">
                        <a class="navbar-brand" href="">
                            <img src="{% static 'resumeparser/images/ibs_logo.png' %}" class="ibs-logo-nav" alt="">
                        </a>
                    </nav>

                    <a class="navbar-brand ishop-nav-title-text" href="">IBS Employee Skill Portal</a>

                </div>
            </nav>

            <div class="container-fluid zero-margin zero-padding" class="full-width">

                <!-- CONTENT HERE -->

                {% block master_content %}

                <!---------------************************--------------->
                <!---------------************************--------------->
                <!--Adds HTML body content from next level inherited template-->
                <!---------------************************--------------->
                <!---------------************************--------------->

                {% endblock %}

            </div>
        </div>

        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% endblock %}