{% extends 'main/dashboard.html' %} {% load static %} {% block master_add_js %}

<!---------------************************--------------->
<!---------------************************--------------->
<!--Adds JS file reference from next level inherited template-->
<!---------------************************--------------->
<!---------------************************--------------->

<script src="{% static 'resumeparser/js/third_party/jquery-ui.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/technology_autocomplete.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/employee_list_pagination.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/tablepaginate.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/third_party/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/jquery-3.4.1.js' %}"></script>
<!--<script src="{% static 'resumeparser/js/custom/jquery-3.3.1.slim.min.js' %}"></script>-->
<script src="{% static 'resumeparser/js/custom/jquery.treeSelector.js' %}"></script>
<script src="{% static 'resumeparser/js/custom/multi_select.js' %}"></script>
<script src="{% static 'resumeparser/js/custom/add_technology.js' %}"></script>

<script>
    jQuery(document).ready(function($) {

        $('div.treeSelector').treeSelector({
            {
                context.app_type_list | safe
            }
        }, [], function(e, values) {
            console.info('onChange', e, values);
        }, {
            checkWithParent: true,
            titleWithParent: true,
            notViewClickParentTitle: true
        });

        $("#add_tech_btn").click(function() {

            var app_ids = [];

            $('.treeSelector-input-box').children('.title-item').each(function() {

                var existing_app_id = $(this).attr('data-value');
                console.log(existing_app_id);

                if (existing_app_id != null) {

                    app_ids.push(existing_app_id);
                }
            });

            console.log('app_ids....');
            console.log(app_ids);

            var token = '{{csrf_token}}';

            $.ajax({
                url: "add_technology",
                type: "POST",
                headers: {
                    "X-CSRFToken": token
                },
                data: {
                    technology: $('input[name=tech]').val(),
                    digital: $('input[name=digital]:checked').val(),
                    category: $('input[name=category]').val(),
                    apptype: app_ids,
                    status: $('input[name=status]:checked').val(),
                    app_final: $('input[name=final]').val()
                },
                cache: false,
                dataType: "json",
                success: function(resp) {
                    console.log(resp);

                    if (resp['resp'] == 0) {
                        $('input[name=tech]').val('');
                        $('input[name=digital]:checked').val('');
                        $('input[name=category]').val('');
                        $('.treeSelector-input-box').empty();
                        $('input[name=status]:checked').val('');
                        $('input[name=final]').val('');
                        $('input:checkbox').prop('checked', false);

                        $("input[name='status']").each(function() {

                            $(this).prop("checked", false);

                        });

                        $("input[name='digital']").each(function() {

                            $(this).prop("checked", false);

                        });

                        $('#err_disp').text('');
                        $('#msg_disp').text(resp['scs_msg']);

                    } else {

                        $('#err_disp').text(resp['err_msg']);
                        $('#msg_disp').text('');
                    }

                }

            });

        });
    });
</script>

{% endblock %} {% block master_add_css %}

<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/pagination_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/radio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/page_segment.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="{% static 'resumeparser/css/custom/jquerysctipttop.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'resumeparser/css/custom/all.css' %}">
<link rel="stylesheet" href="{% static 'resumeparser/css/custom/jquery.treeSelector.css' %}"> {% endblock %}

<!-- CONTENT HERE -->

{% block body %}

<!---------------************************--------------->
<!---------------************************--------------->
<!--Adds HTML body content from next level inherited template-->
<!---------------************************--------------->
<!---------------************************--------------->

<div class="content">
    <div class="container-fluid">
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title"> Add Technology</h4>
            </div>
            <div class="card-body table-responsive">
                <div class="item-grid data-input-grid">
                    <div class="item-grid-row">

                    </div>
                    <div class="item-grid-row">
                        <div class="item-grid-column data-input-title"> Technology</div>
                        <div class="item-grid-column">
                            <div class="item-grid-row">
                                <div class="full-width-column">
                                    <input type="text" class="search-input " name="tech">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="item-grid-row">
                        <div class="item-grid-column data-input-title"> Digital</div>
                        <div class="item-grid-column">
                            <div class="item-grid-row">
                                <div class="full-width-column">
                                    <input type="radio" id="test1" name="digital" value="yes">
                                    <label for="test1">Yes</label>
                                    <p>
                                        <input type="radio" id="test2" name="digital" value="no">
                                        <label for="test2">No</label>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="item-grid-row">
                        <div class="item-grid-column data-input-title"> AppType</div>
                        <div class="item-grid-column">
                            <div class="item-grid-row">
                                <div class="full-width-column ">
                                    <div class="treeSelector" style="width:170px;" name="skills_ids[]">
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="item-grid-row">
                        <div class="item-grid-column data-input-title"> Category</div>
                        <div class="item-grid-column">
                            <div class="item-grid-row">
                                <div class="full-width-column">
                                    <input type="text" class="search-input tech-search" name="category">
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="item-grid-row">
                        <div class="item-grid-column data-input-title"> Status</div>
                        <div class="item-grid-column">
                            <div class="item-grid-row">
                                <div class="full-width-column">
                                    <input type="radio" id="test3" name="status" value="True">
                                    <label for="test3">True</label>

                                    <input type="radio" id="test4" name="status" value="False">
                                    <label for="test4">False</label>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="item-grid-row">
                        <div class="item-grid-column data-input-title"> Final category</div>
                        <div class="item-grid-column">
                            <div class="item-grid-row">
                                <div class="full-width-column">
                                    <input type="text" class="search-input tech-search" name="final">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-grid-row">
                        <div class="item-grid-column data-input-title"> </div>
                        <div class="item-grid-column">
                            <div class="item-grid-row">
                                <input id="add_tech_btn" type="button" style="background-color: #606060;color: white;border-radius: 5px; margin-left: 5px; margin-top: 8px;padding: 3px 7px;" value="Add Technology">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="col-md-6">
            <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title"> List of the Technology</h4>
            </div>
            <div class="card-body table-responsive">
                <div style="width:100%;"  id="box">

 {% include 'resumeparser/testing.html' with comment_info=context %}
                                </div>

                     </div>
            </div>
     </div>
</div>
</div>
</div>
</div>

{% endblock %}