{% extends 'main/dashboard.html' %}
{% if user.is_authenticated %}
{% block body %}
{% load static %}
<div class="content">
    <div class="container-fluid">
        <div style="margin-left:472px; color:#117678;" id="request_message" >
           {% if messages is not None %}
                        <ul class="messages">
                            {% for message in messages %}
                            <b>{{ message }}</b>
                            {% endfor %}
                        </ul>
            {% else %}
                Error while inserting the data into the DB.
            {% endif %}
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="card" style="margin-top :0px !important;margin-bottom :0px !important;">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Add Technology </h4>
                    </div>
                    <div class="card-body table-responsive">
                         <form method="post" action="{% url 'Add_Technology_Save' %}" novalidate>
                              {% csrf_token %}
                             <table style="height:260px; width:300px;">
                              {{ context.form.as_table }}
                             </table>
                              <input type="submit" class="btn btn-primary pull-right" value="Submit">
                          </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="card" style="   margin-top :0px !important;margin-bottom :0px !important;">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">List of the Technology</h4>
                        </div>
                        <div class="card-body table-responsive" style="height: 600px; overflow-y:scroll; ">
                            <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th>Technology</th>
                                      <th>Is Digital</th>
                                      <!--<th>AppType</th>-->
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Category</th>


                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for user in context.techology_data %}
                                     <tr>
                                       <td>{{user.technology}}</td>
                                       <td>{{user.digital}}</td>
                                       <!--<td>{% for item in user.apptype.all %}-->
                                       <!--{{item}}.-->
                                       <!--{% endfor %}</td>-->
                                       <td>{{user.category}}</td>
                                       <td>{{user.status}}</td>
                                       <td>{{user.app_final}}</td>
                                     </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% else %}
<h3>Please Login To Continue</h3>
{% endif %}