{% extends 'main/dashboard.html' %}
{% load static %}
 {% block master_add_js %}
    <script src="{% static 'resumeparser/js/third_party/jquery-ui.js' %}" type="text/javascript"></script>
    <script src="{% static 'resumeparser/js/custom/technology_autocomplete.js' %}" type="text/javascript"></script>
    <script src="{% static 'resumeparser/js/custom/employee_list_pagination.js' %}" type="text/javascript"></script>
<script>
$("#applyfilters").click(function(){
var selected_dept = [];
$('#dept_div_id input:checked').each(function() {
    selected_dept.push($(this).attr('value'));
});
var selected_visa = [];
$('#visa_div_id input:checked').each(function() {
    selected_visa.push($(this).attr('value'));
});
$('#filterMessage').hide();
var filter_value = [selected_dept, selected_visa]
get_employee_list_filter(1, 1, get_selected_skills(), $('#search_bar').val(),filter_value);
if (selected_dept.length > 0){
console.log("****");
 $('#filterMessage').show();
 }
if (selected_visa.length > 0){
console.log("**888**");
 $('#filterMessage').show();
 }
});

$( "#searchbutton" ).click(function() {

 $('#dept_div_id').find('input[type=checkbox]:checked').prop('checked',false);
 $('#visa_div_id').find('input[type=checkbox]:checked').prop('checked',false);
 get_employee_list_filter(1, 1, get_selected_skills(), $('#search_bar').val(),null);
 $('#filterMessage').hide();
});

// function for the NEXT Page Function
 $("#box").on("click", ".page-next", function (e) {
    var selected_dept = [];
    $('#dept_div_id input:checked').each(function() {
    selected_dept.push($(this).attr('value'));
    });
    var selected_visa = [];
    $('#visa_div_id input:checked').each(function() {
    selected_visa.push($(this).attr('value'));
    });
    var filter_value = [selected_dept, selected_visa]
  seg_no =  e.target.name;
  pg_no = ( seg_no - 1 ) * $("input[name=segment_size]").val() + 1;

  get_employee_list_filter(seg_no, pg_no, get_selected_skills(), $('#search_bar').val(),filter_value);

});

// function for the PREVIOUS Page Function
$("#box").on("click", ".page-prev", function (e) {
    var selected_dept = [];
    $('#dept_div_id input:checked').each(function() {
    selected_dept.push($(this).attr('value'));
    });
    var selected_visa = [];
    $('#visa_div_id input:checked').each(function() {
    selected_visa.push($(this).attr('value'));
    });
    var filter_value = [selected_dept, selected_visa]
  seg_no =  e.target.name;
  pg_no = ( seg_no - 0 ) * $("input[name=segment_size]").val() + 0 ;
  pid = $("input[name=productID]").val();

  get_employee_list_filter(seg_no, pg_no, get_selected_skills(), $('#search_bar').val(),filter_value);

});

// function for the CURRENT Page Function
$("#box").on("click", ".page-current", function (e) {
    var selected_dept = [];
    $('#dept_div_id input:checked').each(function() {
    selected_dept.push($(this).attr('value'));
    });
    var selected_visa = [];
    $('#visa_div_id input:checked').each(function() {
    selected_visa.push($(this).attr('value'));
    });
    var filter_value = [selected_dept, selected_visa]
  seg_no =  $("input[name=segment_no]").val();
  pg_no = e.target.name;
  pid = $("input[name=productID]").val();

  get_employee_list_filter(seg_no, pg_no, get_selected_skills(), $('#search_bar').val(),filter_value);

});

// function for the FIRST Page Function
 $("#box").on("click", ".page-first", function (e) {
    var selected_dept = [];
    $('#dept_div_id input:checked').each(function() {
        selected_dept.push($(this).attr('value'));
    });
    var selected_visa = [];
    $('#visa_div_id input:checked').each(function() {
        selected_visa.push($(this).attr('value'));
    });
    var filter_value = [selected_dept, selected_visa]
  seg_no =  1;
  pg_no = 1;
  pid = $("input[name=productID]").val();

  get_employee_list_filter(seg_no, pg_no, get_selected_skills(), $('#search_bar').val(),filter_value);

});

// function for the LAST Page Function
 $("#box").on("click", ".page-last", function (e) {
    var selected_dept = [];
    $('#dept_div_id input:checked').each(function() {
    selected_dept.push($(this).attr('value'));
    });
    var selected_visa = [];
    $('#visa_div_id input:checked').each(function() {
    selected_visa.push($(this).attr('value'));
    });
    var filter_value = [selected_dept, selected_visa]
  seg_no =  $("input[name=total-count]").val();
  pg_no = $("input[name=page-last]").val();
  pid = $("input[name=productID]").val();

  get_employee_list_filter(seg_no, pg_no, get_selected_skills(), $('#search_bar').val(),filter_value);

});
</script>
 {% endblock %}

 {% block master_add_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/pagination_style.css' %}">
 {% endblock %}

{% block body %}

<div class="content" style="padding: 0px 15px !important;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-2">

            </div>
            <div class="col-lg-8 col-md-8 ">
                <div class="card" style="margin-top :0px !important;margin-bottom :0px !important;">
                    <div class="card-header card-header-info ">
                        <h4 class="card-title">Search for Employees</h4>
                    </div>
                    <div class="card-body table-responsive-search">
                       <div class="navbar-form">
                            <span class="bmd-form-group">
                                <div class="input-group no-border">
                                    <input type="text" value="" id="search_bar" onkeypress= "key_press_function(event)" class="form-control search-input tech-search" placeholder="Enter Skill, Name or EmpID you wanna search for... [& = AND] [ , = OR]">
                                </div>
                            </span>
                        </div>
                        <div id="container">

                        </div>
                         <div><br></div>
                        <div id="skill_container">

                        </div>
                        <br>
                        <button type="button" id="searchbutton" class="btn btn-primary pull-right">Search</button>
                    </div>
            </div>
            </div>
            <div class="col-lg-5 col-md-5">

            </div>
        </div>
        <div class="row" id="empresult">
             <!--<div class="col-lg-1 col-md-1">-->

            <!--</div>-->
            <div class="col-lg-8 col-md-8">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Result</h4>
                    </div>
                    <div class="card-body table-responsive" style="padding: 2px 20px !important;">
                        <div style="width:100%;"  id="box">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card" style="position:sticky; position: -webkit-sticky; top: 0;">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">Filters</h4>
                        </div>
                        <div class="card-body" id="filters_body">
                            Department
                            <br>
                            <div id="dept_div_id" style="height: 90px;">
                            {% for dept in context.department_info %}
                                <div class="filter-item">
                                    <input type='checkbox' name='department_value' value='{{dept}}' id='{{dept}}'>
                                    <span>
                                    <label class='list' for='{{dept}}'>
                                        {{dept|title}}
                                    </label>
                                    </span>
                                    <br>
                                </div>
                            {% endfor %}
                            </div>
                            <hr class="separator">
                            <div id="visa_div_id" style="height: 210px;">
                            VISA
                            <br>
                            {% for visa in context.visa_info %}
                                <div class="filter-item">
                                    <input type='checkbox' name='visa_value' value='{{visa}}' id='{{visa}}'>
                                    <span>
                                    <label class="list" for='{{visa}}'>
                                        {{visa|upper}}
                                    </label>
                                    </span>
                                    <br>
                                </div>
                            {% endfor %}
                            </div>
                            <div id="filterMessage" style="color:#00AAAD;"> Filters Applied !</div>
                            <button type="button" id="applyfilters" class="btn btn-primary pull-right">Apply Filters</button>

                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

<script>
function key_press_function(event){
  <!--console.log("Inside the Key Press Event");-->
    if (event.keyCode == 13) {
        <!--console.log("*************");-->
       get_employee_list_filter(1, 1, get_selected_skills(), $('#search_bar').val(),null);
        $('#dept_div_id').find('input[type=checkbox]:checked').prop('checked',false);
        $('#visa_div_id').find('input[type=checkbox]:checked').prop('checked',false);
        $('#filterMessage').hide();
        <!--console.log("&#45;&#45;&#45;&#45; After the Function CALL &#45;&#45;&#45;&#45;");-->
    }
};
</script>
{% endblock %}
