{% extends 'main/dashboard.html' %} {% load static %} {% block master_add_js %}

<!---------------************************--------------->
<!---------------************************--------------->
<!--Adds JS file reference from next level inherited template-->
<!---------------************************--------------->
<!---------------************************--------------->

<script src="{% static 'resumeparser/js/third_party/jquery-ui.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/technology_autocomplete.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/employee_list_pagination.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/tablepaginate.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/third_party/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'resumeparser/js/custom/jquery-3.4.1.js' %}"></script>
<!--<script src="{% static 'resumeparser/js/custom/jquery-3.3.1.slim.min.js' %}"></script>-->
<script src="{% static 'resumeparser/js/custom/jquery.treeSelector.js' %}"></script>
<script src="{% static 'resumeparser/js/custom/multi_select.js' %}"></script>
<script src="{% static 'resumeparser/js/custom/add_technology.js' %}"></script>

<script>
    jQuery(document).ready(function($) {

        $('div.treeSelector').treeSelector({
            {
                context.app_type_list | safe
            }
        }, [], function(e, values) {
            console.info('onChange', e, values);
        }, {
            checkWithParent: true,
            titleWithParent: true,
            notViewClickParentTitle: true
        });

        $("#add_tech_btn").click(function() {

            var app_ids = [];

            $('.treeSelector-input-box').children('.title-item').each(function() {

                var existing_app_id = $(this).attr('data-value');
                <!--console.log(existing_app_id);-->

                if (existing_app_id != null) {

                    app_ids.push(existing_app_id);
                }
            });

            <!--console.log('app_ids....');-->
            <!--console.log(app_ids);-->

            var token = '{{csrf_token}}';

            $.ajax({
                url: "add_technology",
                type: "POST",
                headers: {
                    "X-CSRFToken": token
                },
                data: {
                    technology: $('input[name=tech]').val(),
                    digital: $('input[name=digital]:checked').val(),
                    category: $('input[name=category]').val(),
                    apptype: app_ids,
                    status: $('input[name=status]:checked').val(),
                    app_final: $('input[name=final]').val()
                },
                cache: false,
                dataType: "json",
                success: function(resp) {
                    console.log(resp);

                    if (resp['resp'] == 0) {
                        $('input[name=tech]').val('');
                        $('input[name=digital]:checked').val('');
                        $('input[name=category]').val('');
                        $('.treeSelector-input-box').empty();
                        $('input[name=status]:checked').val('');
                        $('input[name=final]').val('');
                        $('input:checkbox').prop('checked', false);

                        $("input[name='status']").each(function() {

                            $(this).prop("checked", false);

                        });

                        $("input[name='digital']").each(function() {

                            $(this).prop("checked", false);

                        });

                        $('#err_disp').text('');
                        $('#msg_disp').text(resp['scs_msg']);

                    } else {

                        $('#err_disp').text(resp['err_msg']);
                        $('#msg_disp').text('');
                    }

                }

            });

        });
    })
</script>

{% endblock %} {% block master_add_css %}

<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/pagination_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/radio.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'resumeparser/css/custom/page_segment.css' %}">
<link href="{% static 'resumeparser/css/custom/jquerysctipttop.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'resumeparser/css/custom/all.css' %}">
<link rel="stylesheet" href="{% static 'resumeparser/css/custom/jquery.treeSelector.css' %}"> {% endblock %}

<!-- CONTENT HERE -->

{% block body %}

<!---------------************************--------------->
<!---------------************************--------------->
<!--Adds HTML body content from next level inherited template-->
<!---------------************************--------------->
<!---------------************************--------------->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title"> Add Technology</h4>
            </div>
            <div class="card-body table-responsive">
                <div>
                <form>
                    <div class="form-group row">
                    <label for="inputTechnology" class="col-sm-2 col-form-label">Technology</label>
                    </div>
                    <fieldset class="form-group">
                    <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Digital</legend>
                    <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label" for="gridRadios1">
                        Yes
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      <label class="form-check-label" for="gridRadios2">
                        No
                      </label>
                    </div>
                    </div>
                    </div>
                    </fieldset>
                    <div class="form-group row">
                    <label for="inputAppCategory" class="col-sm-2 col-form-label">Category</label>
                    </div>
                    <fieldset class="form-group">
                    <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                    <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" checked>
                      <label class="form-check-label" for="gridRadios3">
                        True
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4">
                      <label class="form-check-label" for="gridRadios4">
                        False
                      </label>
                    </div>
                    </div>
                    </div>
                    </fieldset>
                    <div class="form-group row">
                <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </div>
                </form>
                    </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}