<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Pagination</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{% static 'resumeparser/js/third_party/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'resumeparser/css/custom/page_segment.css' %}">
    <script>
        $(document).ready(function() {

            $("#box").on("click", ".page-next", function(e) {

                seg_no = e.target.name;
                pg_no = (seg_no - 1) * $("input[name=segment_size]").val() + 1;

                getComments(seg_no, pg_no);

            });

            $("#box").on("click", ".page-prev", function(e) {

                seg_no = e.target.name;
                pg_no = (seg_no - 0) * $("input[name=segment_size]").val() + 0;
                pid = $("input[name=productID]").val();

                getComments(seg_no, pg_no);

            });

            $("#box").on("click", ".page-current", function(e) {

                seg_no = $("input[name=segment_no]").val();
                pg_no = e.target.name;
                pid = $("input[name=productID]").val();

                getComments(seg_no, pg_no);

            });

            $("#box").on("click", ".page-first", function(e) {

                seg_no = 1;
                pg_no = 1;
                pid = $("input[name=productID]").val();

                getComments(seg_no, pg_no);

            });

            $("#box").on("click", ".page-last", function(e) {

                console.log('&&&&&&');
                seg_no = $("input[name=total-count]").val();
                pg_no = $("input[name=page-last]").val();
                pid = $("input[name=productID]").val();

                getComments(seg_no, pg_no);

            });

            function getComments(segment_no, page_no) {

                console.log('segment: ', segment_no);
                console.log('page: ', page_no);
                <!--console.log('product_id: ', product_id);-->

                $.ajax({

                    url: '{% url "get_techs" %}',
                    data: {
                        'page_no': page_no,
                        'segment_no': segment_no
                    },

                    success: function(data) {

                        $("#box").empty().append(data);
                    }
                });
            }

        });
    </script>

</head>

<body>

    <div style="width:100%;" id="box">

        {% include 'resumeparser/components/table_page.html' with comment_info=context %}
    </div>

</body>

</html>