.zero-margin {
  margin: 0px;
}

.zero-padding {
  padding: 0px;
}

.no-margin-padding {
  margin: 0px !important;
  padding: 0px !important;
}

.full-size {
  width: 100%;
  height: 100%;
}

.item-grid {
  display: table;
}

.item-grid-row {
  display: table-row;
  width: 100%;
}

.item-grid-column, .full-width-column {
  display: table-cell;
}

.item-grid {
  padding: 8px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .item-grid {
    padding: 4px;
  }
}
@media screen and (max-width: 600px) {
  .item-grid {
    padding: 6px;
  }
}
.item-grid-row {
  padding: 5px 8px;
}

.item-grid-column, .full-width-column {
  vertical-align: middle;
}

.full-width-column {
  width: 100%;
}

.data-input-container {
  padding: 7px 11px 7px 11px;
  width: 100%;
  border: 1px solid #2aaaad;
}

@media screen and (max-width: 400px) {
  .data-input-container {
    padding: 3px 5px 3px 5px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-container {
    padding: 5px 7px 5px 7px;
  }
}
.data-input-box, .data-input-box-grouped {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  vertical-align: middle;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  .data-input-box, .data-input-box-grouped {
    margin-top: 6px;
    margin-bottom: 2px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-box, .data-input-box-grouped {
    margin-top: 7px;
    margin-bottom: 3px;
  }
}
.data-input-grid {
  background-color: #e5eaea;
}

.data-input-title {
  color: #111111;
  font-size: 17px;
  font-weight: normal;
  text-align: right;
  padding-right: 5px;
  white-space: nowrap;
  padding-left: 40px;
}

@media screen and (max-width: 400px) {
  .data-input-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-title {
    font-size: 16px;
  }
}
.data-input-box-grouped {
  padding: 10px;
  border: 1px solid #2aaaad;
  border-radius: 3px;
  background-color: #9c27b024;
}

@media screen and (max-width: 400px) {
  .data-input-box-grouped {
    padding: 4px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-box-grouped {
    padding: 6px;
  }
}
.data-input-icon {
  width: 22px;
  height: 22px;
  margin-top: 5px;
  float: left;
}

@media screen and (max-width: 400px) {
  .data-input-icon {
    width: 18px;
    height: 18px;
    margin-top: 2px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-icon {
    width: 18px;
    height: 18px;
    margin-top: 3px;
  }
}
.data-input-header {
  float: left;
  color: #2aaaad;
  font-size: 16px;
  margin-left: 8px;
}

@media screen and (max-width: 400px) {
  .data-input-header {
    font-size: 13px;
    margin-left: 2px;
  }
}
@media screen and (max-width: 600px) {
  .data-input-header {
    font-size: 14px;
    margin-left: 5px;
  }
}
.data-input-control, .search-input, .drop-down-control, .data-input-control-textarea {
  width: 100%;
  margin-top: 8px;
  border-color: #999990;
  font-size: 13px;
  padding: 3px 10px;
  height: 35px;

}
.data-input-control-textarea {
  height: 100px;
}

@media screen and (max-width: 400px) {
  .data-input-control-textarea {
    height: 70px;
  }
}
@media screen and (max-width: 400px) {
  .data-input-control-textarea {
    height: 80px;
  }
}
.drop-down-control {
  background-color: #2aaaad;
  color: white;
}

.station-edit-btn {
  float: right;
  width: 22px;
  height: 22px;
  margin-left: 8px;
}

@media screen and (max-width: 400px) {
  .station-edit-btn {
    width: 18px;
    height: 18px;
    margin-left: 3px;
  }
}
@media screen and (max-width: 600px) {
  .station-edit-btn {
    width: 18px;
    height: 18px;
    margin-left: 6px;
  }
}

.submit-btn {
  background-color: #2aaaad;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 400px) {
  .submit-btn {
    padding: 3px 8px;
    font-size: 11px;
    margin: 4px 2px;
  }
}
@media screen and (max-width: 600px) {
  .submit-btn {
    padding: 4px 8px;
    font-size: 13px;
    margin: 4px 2px;
  }
}
.search-btn-skill {
  background-color: #606060;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 8px;
  padding: 3px 7px;
}

.add-btn-technology {
  background-color: #606060;
  color: white;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 8px;
  padding: 3px 7px;
}

.search-btn-skill:hover {
  background-color: #404040;
}

.skill-block {
  padding: 4px 5px;
  margin: 7px;
  width: max-content;
  background-color: #13bcbf;
  overflow: hidden;
  border-radius: 4px;
  float: left;
}

.skill-block-close {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 5px
}

.skill-block-text {
  color: white;
  /* padding: 4px 2px */
  border-radius: 4px;
  /* background-color: #027369 */
  /* clear: left; */
  float: left;
}

.emp-list-item {
  padding: 5px 10px;
  border-bottom: 1px solid #009688;
  overflow: hidden;
  background-image: linear-gradient(#eeeeee, #ffffff);
}

.emp-id {
  font-weight: bold;
  float: left;
  font-size: 18px;
  color: #037bda;
}

.emp-name {
  float: left;
  clear: right;
  margin-left: 10px;
  color: #666667;
  font-size: 18px;
}

.emp-role {
  loat: left;
  clear: left;
  color: #ad2c04;
}

.emp-skills {
  float: left;
  clear: left;
  color: #757575;
}

footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #2aaaad;
  padding: 10px;
  height: 40px;
  margin-top: 15px;
}

@media screen and (max-width: 400px) {
  footer {
    padding: 5px;
    height: 24px;
    margin-top: 7px !important;
  }
}
@media screen and (max-width: 600px) {
  footer {
    padding: 8px;
    height: 32px;
    margin-top: 10px !important;
  }
}
.copyright-title {
  text-align: center;
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 400px) {
  .copyright-title {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .copyright-title {
    font-size: 14px;
  }
}
.side-bar-logo {
  width: 100%;
  padding: 1px;
}

.ibs-logo-nav {
  width: 50px;
  height: 50px;
  margin-left: 7px;
}

.heading-bar {
  background-color: #606060;
  color: white;
  padding: 10px 15px;
  margin: 10px 20px;
  font-size: 18px;
}

.sub-title-bar {
  background-color: #606060;
  color: white;
  padding: 5px 7px;
  margin: 5px 10px;
  font-size: 14px;
}

/*# sourceMappingURL=ibs_emp.css.map */
.filter-item {
    width: 49%;
    display: inline-block;
}
