// font

$font-name:    Helvetica, sans-serif

// font size

$f_page_title_header: 30px
$mf_page_title_header: 22px

$f_page_title_desc_header: 18px
$mf_page_title_desc_header: 15px

$f_page_section_header: 24px
$mf_page_section_header: 21px

$f_page_section_desc_header: 16px
$mf_page_section_desc_header: 14px

$f_1: 18px
$f_2: 17px
$f_3: 16px
$f_4: 14px
$f_5: 13px
$f_6: 12px
$f_7: 10px

// font size

$mf_1: 16px
$mf_2: 15px
$mf_3: 14px
$mf_4: 12px
$mf_5: 11px
$mf_6: 10px
$mf_7: 9px

$item-spacing: 8px

// #7356ad #8c42b4

$theme-color-L-1: #2aaaad
$theme-color-L-2: #f9d553

$theme-bg-color-1: #cddc3924

// image size

$image-width: 22px
$image-width-mob: 18px

$image-height: 22px
$image-height-mob: 18px

// media query

$break-small: 400px
$break-large: 600px

.zero-margin
  margin: 0px

.zero-padding
  padding: 0px

.no-margin-padding
  margin: 0px !important
  padding: 0px !important

.full-size
    width: 100%
    height: 100%

%item-table
  display: table

%item-row
  display: table-row
  width: 100%

%item-cell
  display: table-cell

.item-grid
  @extend %item-table
  padding: 8px
  width: 100%

@media screen and (max-width: $break-small)
  .item-grid
     padding: 4px

@media screen and (max-width: $break-large)
  .item-grid
     padding: 6px

.item-grid-row
  @extend %item-row
  padding: 5px 8px

.item-grid-column
  @extend %item-cell
  vertical-align: middle

.full-width-column
  @extend .item-grid-column
  width: 100%

// *************************************************************************************** //
  // *************************************************************************************** //
    // *************************************************************************************** //
      // *************************************************************************************** //
        // *************************************************************************************** //
          // DATA INPUT BOX
        // *************************************************************************************** //
      // *************************************************************************************** //
    // *************************************************************************************** //
  // *************************************************************************************** //
// *************************************************************************************** //

// input box

.data-input-container
   padding: 7px 11px 7px 11px
   width: 100%
   border: 1px solid $theme-color-L-1

@media screen and (max-width: $break-small)
  .data-input-container
    padding: 3px 5px 3px 5px

@media screen and (max-width: $break-large)
  .data-input-container
    padding: 5px 7px 5px 7px

.data-input-box
  width: 100%
  margin-top: 10px
  margin-bottom: 5px
  vertical-align: middle
  overflow: hidden

@media screen and (max-width: $break-small)
  .data-input-box
    margin-top: 6px
    margin-bottom: 2px

@media screen and (max-width: $break-large)
  .data-input-box
    margin-top: 7px
    margin-bottom: 3px

.data-input-grid
  background-color: #e5eaea

.data-input-title
  color: #111111
  font-size: $f_2
  font-weight: normal
  text-align: right
  padding-right: 5px
  white-space: nowrap
  padding-left: 40px

@media screen and (max-width: $break-small)
  .data-input-title
    font-size: $f_4

@media screen and (max-width: $break-large)
  .data-input-title
    font-size: $f_3

.data-input-box-grouped
  @extend .data-input-box

  padding: 10px
  border: 1px solid $theme-color-L-1
  border-radius: 3px
  background-color: #9c27b024

@media screen and (max-width: $break-small)
  .data-input-box-grouped
    padding: 4px

@media screen and (max-width: $break-large)
  .data-input-box-grouped
    padding: 6px

.data-input-icon
  width: $image-width
  height: $image-height
  margin-top: 5px
  float: left

@media screen and (max-width: $break-small)
  .data-input-icon
    width: $image-width-mob
    height: $image-height-mob
    margin-top: 2px

@media screen and (max-width: $break-large)
  .data-input-icon
    width: $image-width-mob
    height: $image-height-mob
    margin-top: 3px

.data-input-header
  float: left
  color: $theme-color-L-1
  font-size: $f_3
  margin-left: 8px

@media screen and (max-width: $break-small)
  .data-input-header
    font-size: $f_5
    margin-left: 2px

@media screen and (max-width: $break-large)
  .data-input-header
    font-size: $f_4
    margin-left: 5px

.data-input-control
  width: 100%
  margin-top: 8px
  border-color: #999990
  font-size: $f_5
  padding: 3px 10px
  height: 35px
  border: 1px solid $theme-color-L-1
  border-radius: 4px

.data-input-control:focus
  outline: none !important
  border:2px solid $theme-color-L-1
  box-shadow: 0 0 10px #719ECE

@media screen and (max-width: $break-small)
  .data-input-control
    margin-top: 3px
    font-size: $f_6
    padding: 1px 6px
    height: 25px

@media screen and (max-width: $break-large)
  .data-input-control
    margin-top: 5px
    font-size: $f_6
    padding: 2px 8px
    height: 27px

.data-input-control-textarea
  @extend .data-input-control
  height: 100px

@media screen and (max-width: $break-small)
  .data-input-control-textarea
   height: 70px

@media screen and (max-width: $break-small)
  .data-input-control-textarea
    height: 80px

.drop-down-control
  @extend .data-input-control
  background-color: $theme-color-L-1
  color: white

.station-edit-btn
   float: right
   width: $image-width
   height: $image-height
   margin-left: 8px

@media screen and (max-width: $break-small)
  .station-edit-btn
     width: $image-width-mob
     height: $image-height-mob
     margin-left: 3px

@media screen and (max-width: $break-large)
   .station-edit-btn
     width: $image-width-mob
     height: $image-height-mob
     margin-left: 6px

.search-box
  border: 1px solid $theme-color-L-1
  background-color: $theme-bg-color-1
  border-radius: 4px
  height: 40px

@media screen and (max-width: $break-small)
  .search-box
   border-radius:2px
   height: 34px

@media screen and (max-width: $break-large)
  .search-box
   border-radius: 3px
   height: 30px

.search-input
  @extend .data-input-control
  background-color: #ffffff
  color: #222222
  border-radius: 20px
  padding: 4px 15px

@media screen and (max-width: $break-small)
  .data-input-control
   padding: 2px 10px
   border-radius: 17px

@media screen and (max-width: $break-large)
  .data-input-control
   padding: 3px 12px
   border-radius: 15px

.submit-btn
  background-color: $theme-color-L-1
  border: none
  color: white
  padding: 6px 12px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
  margin: 4px 2px
  cursor: pointer
  border-radius:4px

@media screen and (max-width: $break-small)
  .submit-btn
    padding: 3px 8px
    font-size: 11px
    margin: 4px 2px

@media screen and (max-width: $break-large)
  .submit-btn
    padding: 4px 8px
    font-size: 13px
    margin: 4px 2px

.search-btn-skill
  background-color: #606060
  color: white
  border-radius: 5px
  margin-left: 5px
  margin-top: 8px
  padding: 3px 7px

.search-btn-skill:hover
  background-color: #404040

.skill-block
  padding: 2px 3px
  margin: 5px
  width: max-content
  background-color: #0b8b8e
  overflow: hidden
  border-radius: 4px
  float: left

.skill-block-close
  float: left
  width: 20px
  height: 20px

.skill-block-text
  color: white
  /* padding: 4px 2px */
  border-radius: 4px
  /* background-color: #027369 */
  /* clear: left; */
  float: left

.emp-list-item
  padding: 5px 10px
  border-bottom: 1px solid #009688
  overflow: hidden
  background-image: linear-gradient(#eeeeee, #ffffff)

.emp-id
  font-weight: bold
  float: left
  font-size: 18px
  color: #037bda

.emp-name
  float: left
  clear: right
  margin-left: 10px
  color: #666667
  font-size: 18px

.emp-role
  loat: left
  clear: left
  color: #ad2c04

.emp-skills
  float: left
  clear: left
  color: #757575

footer
  position: fixed
  bottom: 0
  background-color: $theme-color-L-1
  padding: 10px
  height: 40px
  margin-top: 15px


@media screen and (max-width: $break-small)
  footer
    padding: 5px
    height: 24px
    margin-top: 7px !important

@media screen and (max-width: $break-large)
  footer
    padding: 8px
    height: 32px
    margin-top: 10px !important

.copyright-title
    text-align: center
    color: white
    font-size: $f_3
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@media screen and (max-width: $break-small)
  .copyright-title
    font-size: $f_5

@media screen and (max-width: $break-large)
  .copyright-title
    font-size: $f_4

.side-bar-logo
    width:100%
    padding: 1px

.ibs-logo-nav
    width:50px
    height:50px
    margin-left:7px

.heading-bar
    background-color: #606060
    color: white
    padding: 10px 15px
    margin: 10px 20px
    font-size: 18px

.sub-title-bar
    background-color: #606060
    color: white
    padding: 5px 7px
    margin: 5px 10px
    font-size: 14px
