
.pagination-container {

    width: 100%;
    text-align: center;
}

.pagination {

    display: inline-block;
}

.pagination a {

    color: black;
    border: 1px solid #ddd;
    float: left;
    padding: 6px 13px;
    text-decoration: none;
    margin: 2px;
    border-radius: 5px;
    font-size:14px;
}

.pagination a.active {

    background-color: rgb(2, 52, 85);
    color: white;
    font-size: 16px !important;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {

    background-color: #bbb;
    color: white;
    border-radius: 5px;
}

.page-prev-next {


}

.page-first {


}

.page-last {


}

.page-extend {

    padding: 8px 16px;
    border: 1px solid rgb(5, 3, 114) !important;
    background-color: rgb(160, 241, 255);
    color: sienna;
    border-radius: 5px;
    font-size: 15px !important;
}

.page-extend :hover {

    background-color: sienna !important;
    color: yellow !important;
    font-size: 16px !important;
}