/* The container */
.container-radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .radio-option-text {

    font-size: 16px;
  }
  
  /* Hide the browser's default radio button */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark-radio:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio .checkmark-radio:after {
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  @media screen and (min-width: 400px) {

    .container-radio {
    
      padding-left: 20px;
      margin-bottom: 6px;
    }
  
    .checkmark-radio {
      height: 14px;
      width: 14px;
    }
  
    .container-radio .checkmark-radio:after {
      
      top: 5px;
      left: 5px;
      width: 5px;
      height: 5px;
    }

    .radio-option-text {

      font-size: 12px;
    }
  }
  
  @media screen and (min-width: 600px) {
    
    .container-radio {
    
      padding-left: 25px;
      margin-bottom: 6px;
    }
  
    .checkmark-radio {
      height: 17px;
      width: 17px;
    }
  
    .container-radio .checkmark-radio:after {
      
      top: 6px;
      left: 6px;
      width: 6px;
      height: 6px;
    }

    .radio-option-text {

      font-size: 14px;
    }
  }